/* styles.css */
img {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
	width:30%;
height:7%;

}
img:hover {
    transform: scale(.8);
background-color:red;
}
